<nav class="navbar navbar-expand-lg fixed-top hidden">
  <div class="container-fluid">
    <%= link_to image_tag("logo.png", alt: "psych-io logo", id: "navbar-logo"), root_path, class: "navbar-brand" %>
    <div id="navbar-icons">
      <%= link_to "About", root_path, class: "nav-link color-grey", id: "about-navbar" %>
      <%= link_to "Solutions", root_path, class: "nav-link color-grey", id: "solutions-navbar" %>
      <%= link_to "Contact", root_path, class: "nav-link color-grey", id: "contact-navbar" %>
    </div>
  </div>
</nav>
