<div id="home-banner">
  <%= video_tag "logo.mp4", alt: "logo animation", id: "banner-logo-animation", height: '100%', width: "100%", autoplay: :autoplay, preload: 'auto', muted: :muted %>
</div>

<div id="home-banner-mobile">
  <%= video_tag "logo.mp4", alt: "logo animation", id: "banner-logo-animation", height: '100%', width: "100%", autoplay: :autoplay, preload: 'auto', muted: :muted %>
</div>
