<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p style="font-family: 'Montserrat', sans-serif;">Dear <%= @contact.name %>,</p>

    <p style="font-family: 'Montserrat', sans-serif;"></p>

    <p style="font-family: 'Montserrat', sans-serif;"></p>

    <p style="font-family: 'Montserrat', sans-serif;">Talk soon,</p>

    <p style="font-family: 'Montserrat', sans-serif;"><strong></strong></p>

    <a style="font-family: 'Montserrat', sans-serif;"></a>

    <p style="font-family: 'Montserrat', sans-serif; text-align: center; color: grey; font-size: 10px">Important: The content of this email and any other attachments are confidential. They are intendend for the named recipient(s) only. If you have received this email by mistake, please notify the sender immediately and do not disclose the contents to anyone or make copies thereof.</p>
  </body>
</html>
