#home-banner {
  height: 520px; // 740px for fullscreen
  width: 100%;
  // Style bellow just for the picture:
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-banner-mobile {
  height: 450px;
  width: 100%;
}
