#contact-section {
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
}

#contact-form {
  height: 500px;
  width: 500px;
  background-color: var(--colorBeige);
  border-radius: 2px 42px 2px 2px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.12);
}
