.navbar {
  height: 78px;
  top: 0;
  margin: 0;
}

#navbar-logo {
  margin-left: 30px;
  height: 55px;
  width: 69px;
}

#navbar-icons {
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  &:hover {
    color: var(--logoBlue);
  }
}
