#solutions-section {
  height: 500px;
  width: 100%;
  background-color: var(--colorBeige);
  display: flex;
  align-items: center;
}

.solution-card {
  height: 295px;
  width: 264px;
  border-radius: 2px 2px 2px 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  color: var(--colorBeige);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.12);

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
}

.bcolor-grey {
  background-color: var(--colorGrey);
}

#bcolor-orange {
  background-color: var(--logoOrange);
}

// -----------------------------------------------------------------------------
#more-info-section {
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
}

#transparent-card {
  height: 300px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 2px 42px 2px 2px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
}

// -----------------------------------------------------------------------------
#beige-section {
  height: 300px;
  width: 100%;
  background-color: var(--colorBeige);
  display: flex;
  align-items: center;
}
