// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Config - graphical variables
@import "config/general";

// Pages
@import "components/media_queries";
@import "components/navbar";
@import "components/banner";
@import "components/about";
@import "components/solutions";
@import "components/contact";
@import "components/footer";
@import "components/buttons";

// Components

// -----------------------------------------------------------------------------
